<div class="container ">
    <div class="col-12">
        <div class="row">
            <mat-toolbar>
                <span>Users CRUD</span>
                <span>Add <button mat-icon-button color="warn" aria-label="Example icon-button with a delete icon"
                        routerLink="/create">
                        <mat-icon>person_add</mat-icon>
                    </button>
                </span>
                <span>Show list <button mat-icon-button color="warn" aria-label="Example icon-button with a delete icon"
                    routerLink="/listar">
                    <mat-icon>person_add</mat-icon>
                </button>
            </span>
            </mat-toolbar>
        </div>

        <router-outlet></router-outlet>

    </div>


</div>
